.qodo
/dist/js/app.js
/dist/js/app.min.js
/dist/js/fbmanifeswebpack.js
/dist/js/fbmanifeswebpack.min.js
/dist/js/sesion.js
/dist/js/sesion.min.js
/s/card
/s/login
/dist/img
/index.html
documentacion.txt
.gitignore-client
CNAME
HOJA DE RUTA PARA FINALIZAR EL PROYECTO.docx